<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing DB</title>
    <link rel="stylesheet" href="insert.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


</head>
<body>
    <%-include('common/header')-%>
    <%-include('common/showcss')-%>
    <div class="container">
        <table class="table table-border table-bordered text-center shadow text-white">
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Password</th>
                <th>User Delete</th>
                <th>User Update</th>
            </tr>
            <% users.forEach(function(user){ %> <!-- ForEach loop print one one value -->
            <tr>
                <td><%=user._id %></td> <!-- basic syntax for print any thing in ejs -->
                <td><%=user.name %></td>
                <td><%=user.email %></td>
                <td><%=user.password %></td>
                <td><a href="/delete/<%=user._id %>" class="btn btn1 btn-danger">Delete</a></td>
                <td><a href="/edit/<%=user._id %>" class="btn btn1 btn-success">Edit</a></td>
            </tr>
            <% }) %>
        </table>
    </div>   
</body>
</html>